


.bg-primary{
    background-color: #27292D;
}

.bg-secondary{
    background-color: #191920;
}


.text-primary{
    color:#C5C7CA
}

.text-secondary{
    color:#7F8084
}


.text-tertiary{
    color:#6B6C70
}