@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./overrides/colors.css";
@import "./overrides/borders.css";
@import "./overrides/typography.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");


#root {
  min-height: 100vh;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html{
  background-color: black
}



body {
  font-size: 12px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}


